.introduce {
  padding: 0 5rem;
}

.list {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 1rem 5rem;
}

.evaluation {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.list-likes {
  color: rgb(246, 110, 219);
  margin: 0;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

@media (max-width: 1023px) {
  .list {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 5rem;
    gap: 3rem;
  }
}
