.card {
  border-radius: 1rem;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

.card-figure {
  flex-shrink: 0;
  margin: 0;
}

.card-image {
  object-fit: cover;
  width: 100%;
}

.card-title,
.card-description {
  flex-grow: 1;
  margin: 0;
  padding: 0 1rem;
}

.card-button {
  margin: 0 1rem 1rem 1rem;
}

.card-button-like {
  color: fuchsia;
}

@media (max-width: 1023px) {
  .card {
    gap: 0;
  }
}

@media (max-width: 767px) {
  .card-title {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .card-description {
    font-size: 0.8rem;
  }

  .card-button {
    margin: 1rem;
  }
}
