.introduce {
  padding: 0 5rem;
}

.list {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin-bottom: 0.2rem;
  padding: 1rem 5rem;
}

.evaluation {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.evaluation h4 {
  color: fuchsia;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

@media (max-width: 1024px) {
  .list {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
    padding: 1rem 5rem;
  }

  .evaluation {
    gap: 1rem;
    margin-bottom: 3.5rem;
    margin-top: 0;
    padding: 0 3rem;
  }
}

@media (max-width: 767px) {
  .introduce {
    font-size: 0.9rem;
    padding: 0 2rem;
  }

  .list {
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-bottom: 0.5rem;
    padding: 0 3rem;
  }

  .evaluation h4 {
    font-size: 0.8rem;
  }

  .evaluation a {
    font-size: 0.8rem;
  }
}
