.evaluation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.evaluation-result {
  font-size: 3rem;
  line-height: 5rem;
  width: 60%;
  height: 40vh;
}

.evaluation-button {
  width: 6rem;
}
