footer {
  background-color: rgb(40, 39, 39);
  bottom: 0;
  display: flex;
  font-size: 0.9rem;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
  position: fixed;
  width: 100%;
}

@media (max-width: 767px) {
  footer {
    font-size: 0.8rem;
    gap: 0.3rem;
  }
}
