#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header-subtitle {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

footer {
  display: flex;
  gap: 1rem;
  justify-content: end;
}
